# 配置npm的默认镜像源为淘宝镜像源
registry=https://registry.npmmirror.com/
# 配置puppeteer下载源
puppeteer_download_host=https://registry.npmmirror.com/-/binary
# 强制校验node版本，node版本与package.json配置不同的时候，run中断
# engine-strict=true