<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="数链科技"/>
  <meta name="description" content="数链科技"/>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="x-rim-auto-match" content="none">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
  <meta name="handheldFriendly" content="true">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Cache" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <link rel="stylesheet" href="../css/share_card.css">
  <title>数链科技</title>
</head>
<body>
  <div class="loading" v-if="data.loading">加载中...</div>
  <div class="global-resize-page none" @vue:mounted='mounted'>
    <div class="top-bg">
      <div class="sl-logo"></div>
    </div>
    <section class="compay-card">
      <div class="row">
        <i class="icon receive-icon"></i>
        <span>{{data.receivingCompanyName}}</span>
      </div>
      <div class="row">
        <i class="icon send-icon"></i>
        <span>{{data.deliveryCompanyName}}</span>
      </div>
      <div class="text">
        {{data.sendStation}}  {{data.stationName}} 
      </div>
      <div class="text">
        {{data.house}} {{data.goodsAllocation}} {{data.coalType}} 
        <span v-if="data.shipperMobile">货主电话:{{data.shipperMobile}}</span>
      </div>
      <div class="text" v-if="data.remark">
        备注：{{data.remark}}
      </div>
    </section>
    <section class="erm-card">
      <div class="erm">
        <img :src="data.qrCode" alt="">
      </div>
      <div class="erm-text">微信扫码，自动派车接单</div>
    </section>
    <div class="bottom-text">创建时间：{{data.createdDate}}</div>
    <div class="bottom-text">编号：{{data.serialNo}}</div>
    <div class="pd45"></div>
  </div>
  <script src="../../jquery.min.js"></script>
  <script src="../js/petite-vue/petite-vue.umd.js"></script>
  <script src="../js/share_card.js"></script>
</body>
</html>